<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Friends Tracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="container">
        @RenderBody()
    </div>

    <script type="text/javascript" src="~/scripts/require.js"></script>
    <script type="text/javascript">
        require(['/scripts/modules/main.js'], function (main) {
            main("@ViewBag.PageCodename");
        })
    </script>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("googleMapSourceScript", required: false)
    @RenderSection("mapInitializationSrcipts", required: false)*@
</body>
</html>
